html {
    font-size: 20px;
    letter-spacing: 1.2em;
}

body {
    font-family: "Arial", "Meiryo", sans-serif;
}

.google-fonts {
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    .color-skyblue {
        color: skyblue;
      }
      
      .color-pink {
        color: rgb(255, 192, 203);
      }

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid rgb(115, 115, 114);
}

.color-pink {
    color: rgb(255, 192, 203);
}
.color-skyblue {
    color: skyblue;
}

body, h1, h2, p {
    text-align: center;
}

#basic p {
    font-weight: bold;
}

p {
    font-weight: normal;
}